extends layout

block content
  if !user
    h1 Please Login through Spotify
  else
    form
      div.form-group.mb-3
        label.mb-1(for='artistList') Artist List
        textarea.form-control(id='artistList' rows='10')
      div.form-group.mb-3
        label.mb-1(for='playlistName') Playlist Name
        input.form-control(id='playlistName')
      button.btn.btn-success(type='submit') Submit
